body{
    background-image:url("image4.jpg");
	background-size:1500px 1500px;
	background-repeat:no-repeat;
}
.display_user{
  /*  background-color: cadetblue;*/
    width: 50%;
    float: left;
    padding: 0px;
    margin: 0px;
    position: absolute;
    font-size: 25px;
}
.display_computer{
   /* background-color: darkgoldenrod;*/
    width: 50%;
    float: right;
    padding: 0px;
    margin: 0px;
    position: absolute;
    right: 0%;
    font-size: 25px;
}
.win{
    /*background-color: blueviolet;*/
    position: absolute;
    top: 110%;
    left: 37%;
    font-size: 25px;

}
.name{
    font-weight: bolder;
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
}
.vs{
    font-weight: bold;
    font-size: 30px;
    font-style: oblique;
}
p {
    font-weight: bold;
    font-size: 20px;
}
.rock{
    font-size: 30px;

}
.paper{
    font-size: 30px;
}
.scissor{
    font-size: 30px;
}
.image_win{
    width: 400px;
    height: 200px;
    border-radius: 10px;
    align-items: center;
    position: relative;
}
.image_user{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    position: relative;
    align-content: center;
    left: 25%;

}
.image_comp{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    position: relative;
    left: 25%;
}
.image_tie{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    position: relative;
}